{% extends 'base.html' %}

{% block content %}

<div class="row m-2">
  <div class="col-12 col-md-4 d-flex justify-content-center">

   
      <div class="card m-1 mb-3" style="width: 80%;">
        <img src={{user.image_url}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
          <div class="d-flex">
            <a href="/users/{{user.id}}/edit" class="btn btn-success m-1">Edit User</a>
            <a href="/users/{{user.id}}/post/new" class="btn btn-success m-1">New Post</a>
            <form action="/users/{{user.id}}/delete" method="POST">
              <button type="submit" class="btn btn-danger m-1">Delete User</button>
            </form>
        </div>
        </div>
      </div>
  

  </div>
  <!-- Change this to have user Card show on Left hand side and posts show on the right -->
  <div class="col-12 col-md-8 d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      {% for user_post in post %}
      <div class="col-12 d-flex justify-content-center">
        <div class="card mb-3" style="width: 80%;">
          <div class="card-body">
            <h5 class="card-title">{{user_post.title}}</h5>
            <p class="card-text">{{user_post.content}}</p>
            <p class="card-text"><small class="text-muted">Posted: {{user_post.created_at}}</small></p>
            <a href="/posts/{{user_post.id}}" class="btn btn-success m-1">See Post</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   
  </div>

  
</div>

{% endblock %}
