{% extends 'base.html' %}

{% block content %}

<div class="row mt-3">
  <div class="col-2"></div>

  <div class="col">
    
    <div class="card mb-3" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src={{user.image_url}} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <p class="card-text">Hi my name is {{user.first_name}} {{user.last_name}}. Click below to see my posts.</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              <div class="d-flex">
                <a href="/users/{{user.id}}/posts" class="btn btn-success m-1">See User Posts</a>
                <a href="/users/{{user.id}}/edit" class="btn btn-success m-1">Edit User</a>
                <form action="/users/{{user.id}}/delete" method="POST">
                <button type="submit" class="btn btn-danger m-1">Delete User</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </div>

  <div class="col-2"></div>
</div>

{% endblock %}