{% extends 'base.html' %}

{% block content %}

<div class="row mt-5 justify-content-center">
  <div class="col-2"></div>

  <div class="col-8 d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
    
      
        <div class="col-12 d-flex justify-content-center">

          <div class="card mb-5">
            <div class="row g-0">
              <div class="col-12">
                <div class="card-body">
                  <h5 class="card-title">{{post.title}}</h5>
                  <p class="card-text">{{post.content}}</p>
                  {% for tag in post.tag%} 
                    <span class="badge bg-primary">{{tag.name}}</span>
                  {% endfor %}
                  <p class="card-text"><small class="text-muted">Posted: {{post.created_at}}</small></p>
                  <div class="d-flex">
                    <a href="/posts/{{post.id}}/edit" class="btn btn-success m-1">Edit</a>
                    <form action="/posts/{{post.id}}/delete" method="POST">
                      <button type="submit" class="btn btn-danger m-1">Delete Post</button>
                      <input type="hidden" name="data" value={{post.user_id}} />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      

    </div>

  </div>


  <div class="col-2"></div>
</div>

{% endblock %}